.hero-button{
position:relative;
display:inline-block;
padding:14px 32px;
background:#6E4EAD !important;
color:#EBAB6F !important;
border:3px solid #EBAB6F !important;
border-radius:12px;
font-size:24px;
font-weight:700;
text-decoration:none;
box-shadow:0 6px 18px rgba(0,0,0,.35);
}
html{scroll-behavior:smooth;}

body{
margin:0;
font-family:Arial,Helvetica,sans-serif;
background:#f5f5f5;
}

.navbar-brand{
font-size:1.5rem;
font-weight:600;
color:#fff!important;
white-space:nowrap;
}

@media (min-width:992px){
.navbar-nav{
display:flex;
flex-wrap:nowrap;
align-items:center;
}
}

.navbar-nav .nav-link{
color:#d0d0d0!important;
margin-left:8px;
font-size:1rem;
white-space:nowrap;
}

.navbar-nav .nav-link:hover{color:#fff!important;}
.navbar-nav .nav-link.active{color:#F5D37A!important;font-weight:700;}



.hero{
position:relative;
width:100%;
height:auto;
overflow:visible;
background:none;
}

.hero picture,
.hero picture img,
.hero-image{
display:block;
width:100%;
height:auto;
}
.hero-overlay{position:absolute;inset:0;}
.hero-button{
position:absolute;
left:70px;
bottom:70px;
padding:8px 18px;
min-width:150px;
background:#1D2D63!important;
color:#F5D37A!important;
border:none;
border-radius:8px;
font-size:16px;
font-weight:700;
text-decoration:none;
}
.hero-button:hover{
background:#243B7D!important;
color:#F5D37A!important;
}
.countdown{background:#0d6efd;color:#fff;padding:50px 20px;}
.countdown h1{font-size:3rem;}

.card{
height:100%;
border:none;
border-radius:12px;
box-shadow:0 8px 25px rgba(0,0,0,.15);
transition:.25s;
}
.card:hover{transform:translateY(-8px);}
.card-body{display:flex;flex-direction:column;min-height:220px;}
.card-body p{flex-grow:1;margin-bottom:25px;}
.card-body .btn{align-self:center;width:260px;margin-top:auto;}

footer{
background:#212529;
color:#fff;
text-align:center;
padding:30px;
}

@media (max-width:991.98px){
.hero{
height:auto;
aspect-ratio:16/9;
}
.hero-image{
object-fit:cover;
}
.hero-button{
left:50%;
transform:translateX(-50%);
bottom:27%;
top:auto;
min-width:150px;
padding:8px 18px;
font-size:16px;
font-weight:700;
border-radius:8px;
}
.card .btn{width:100%;}
}
