html{
    scroll-behavior:smooth;
}

body{
    margin:0;
    font-family:Arial,Helvetica,sans-serif;
    background:#f5f5f5;
}

/* NAVBAR */

.navbar{
    background:#212529 !important;
}

/* HERO */

.hero{
    position: relative;
    width: 100%;
    text-align: center;
}

.hero-image{
    display: block;
    width: 100%;
    height: auto;
}

.hero-button{
    position:absolute;
    left:70px;
    top:70px;      /* Use top instead of bottom */
    z-index:10;
    box-shadow:
        0 12px 30px rgba(0,0,0,.40),
        0 0 16px rgba(255,216,107,.40);
}
/* COUNTDOWN */

.countdown{

    background:#0d6efd;

    color:white;

    padding:50px 20px;

}

.countdown h1{

    font-size:3rem;

}

/* CARDS */

/* CARDS */

.card{
    height:100%;
    border:none;
    border-radius:12px;
    box-shadow:0 8px 25px rgba(0,0,0,.15);
    transition:.25s;
}

.card:hover{
    transform:translateY(-8px);
}

.card-body{
    display:flex;
    flex-direction:column;
    min-height:220px;      /* every card same height */
}

.card-body h4{
    margin-bottom:15px;
}

.card-body p{
    flex-grow:1;           /* fills available space */
    margin-bottom:25px;
}

.card-body .btn{
    align-self:center;
    width:260px;
    margin-top:auto;       /* forces all buttons to the bottom */
}
/* FOOTER */

footer{

    background:#212529;

    color:white;

    text-align:center;

    padding:30px;

}
